@using (Html.BeginForm("Transform", "Csv", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
{
    <div class="form-row">
        <label for="Files" class="form-col">
            Files
        </label>
        <div class="form-col">
            <input type="file" multiple="multiple" name="Files" id="Files" />
        </div>
    </div>
    <div class="form-row">
        <label for="XsdFileName" class="form-col">
            Xsd file name
        </label>
        <div class="form-col">
            <input type="text" name="XsdFileName" id="XsdFileName" />
        </div>
    </div>
    <div class="form-row">
        <label for="XmlFileName" class="form-col">
            Xml file name
        </label>
        <div class="form-col">
            <input type="text" name="XmlFileName" id="XmlFileName" />
        </div>
    </div>
    <div class="form-row">
        <input type="submit" />
    </div>
}