@model XsdTransformer.Web.Site.Models.CsvTransformViewModel
<div id="transform" class="form">
    <div class="form-row">
        <div class="form-val">
            <span></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-lbl">
            @Html.LabelFor(x => x.Csv)
        </div>
        <div class="form-val">
            @Html.TextAreaFor(x => x.Csv, new { wrap = "off" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-lbl">
            @Html.LabelFor(x => x.ValidationResult)
        </div>
        <div class="form-val">
            @Html.TextAreaFor(x => x.ValidationResult, new { rows = 10, cols = 200, wrap = "off" })
        </div>
    </div>
</div>