body
{
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

#wrapper
{
    width: 100%;
}

.form
{
    width: 900px;
    margin: 0 auto;
}

.form textarea
{
    width: 100%;
    height: 200px;
}